body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    background-color: #423349;
    overflow-y: auto;
    overflow-x: auto;
    min-height: 100vh;
    text-align: center;
}

.nav-bar {
    background-color: #795770;
    border-bottom: 1px solid #D8C4B6;
    width: 100%;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: relative;
}

.nav-bar a {
    color:#e7d7c7;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    transition: text-shadow 0.2s ease;
    display: flex;
    font-size: 25px;
}

h2 {
    color: #e7d7c7;
}

#SearchForm {
    display: block;
    width: 100%; /* Make the form fill the container's width */
    max-width: none; /* Remove the max-width constraint */
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px; /* Remove margins when sticky */
    box-sizing: border-box; /* Ensure padding and borders are included in the dimensions */
    justify-content: center;
    align-items: center;
    background-color: #b6a28e
}
#artistsOption {
    background-color: #e7d7c7;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%; /* Ensure it spans the entire width of the viewport */
    height: 40px; /* Set a fixed height */
    z-index: 1; /* Keep it on top of other elements without floating above content */
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Vertically center the content */
    background-color: #b6a28e; /* Maintain a consistent background color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for visual distinction */
}

#DatesLocationsTable{
    margin: 20px 20px
}

#input-table {
    width: 100%; 
    border-collapse: separate;
    border-spacing: 15px;
}

.form-cell {
    background-color: #663b21;
    padding: auto auto;
    box-sizing: border-box;
    overflow: visible;
    vertical-align: top;
}

#error {
    display: flex;
    background-color: #d06565;
    justify-content: center;
    overflow-x: hidden;
    margin: 35px auto;
    padding: 10px auto;
    width: 100%;
    white-space: pre;
    font-family: monospace;
    font-size: calc(1.0vW);
}
.hint {
    display: flex;
    color: #ffffff;
    justify-content: center;
    overflow-x: hidden;
    margin: 35px auto;
    padding: 10px auto;
    width: 100%;
    font-size: 12px;
}
.artist {
    border: 1px solid #35333a;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    overflow: auto; 
    background-color:#8361848a ;
}

.artist h2 {
    min-height: 60px;
}


#artists {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 30px; 
    width: 90%; 
    margin: 20px auto; 
    justify-content: center; 

}

.artist img {
    display: block;
    border-radius: 16px;
    align-items: center;
    margin: 20px auto;
}

.info-button {
    display: inline-block;
    padding: 10px 20px;
    background-color:#9cba4c;
    color: #3f332b;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.info-button:hover {
    background-color: #8ba445;
}

.details-button {
    display: inline-block;
    background-color: #c67832;
    color: #26130c;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
    flex: 1;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #bf662f;
}

#DatesLocationsTable {
    display: flex;
    align-content: space-between;
    justify-content: space-around;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    border-radius: 50%;
}

th, td {
    border: 1.5px solid #2b2925;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #9cba4c;
}
td {
    background-color: #FAF0E6;
}

ul {
    text-align: center;
    display: inline-block;
    list-style-type: none;
    padding: 0px !important;
}

li {
    background-color: #FAF0E6;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.goBackToMain {
    margin-bottom: 20px;
    font-family: 'Courier New';
    background-color: #c67832;;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
    font-weight:bold;
    flex: 1;
    border: none;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.goBackToMain:hover {
    background-color: #bf662f;
}