{{template "head"}}
<body>
    {{template "navBar"}}
    <div class="hint">
        <p>
            You have sent a bad request. Go back to the main page using "Go back to main page" button at the end of page. 
        </p>
    </div>
    <div id="error">
        <pre>                         
 _  _      ___     ___   
| || |    / _ \   / _ \  
| || |_  | | | | | | | | 
|__   _| | |_| | | |_| | 
   |_|    \___/   \___/  
                        
                        
           
           
 ____                _         _____                                        _    
|  _ \              | |       |  __ \                                      | |   
| |_) |   __ _    __| |       | |__) |   ___    __ _   _   _    ___   ___  | |_  
|  _ <   / _` |  / _` |       |  _  /   / _ \  / _` | | | | |  / _ \ / __| | __| 
| |_) | | (_| | | (_| |       | | \ \  |  __/ | (_| | | |_| | |  __/ \__ \ \ |_  
|____/   \__,_|  \__,_|       |_|  \_\  \___|  \__, |  \__,_|  \___| |___/  \__| 
                                                  | |                            
                                                  |_|                            
        </pre>
    </div>
    {{template "goBack"}}
</body>
</html>