<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Artist.Name}} </title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="nav-bar">
        <h1><a href="/">Gropie-Tracker</a></h1>
    </div>
    <div>
        <p> <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}"></p>
        <p><h2>Members:</h2> {{range .Artist.Members}}<p>{{.}}</p>{{end}}</p>
        <p><h2>Creation Date:</h2> {{.Artist.CreationDate}}</p>
        <p><h2>First Album:</h2> {{.Artist.FirstAlbum}}</p>
    </div>
    <h2>location of concerts:</h2>
    <div>
        {{range .Locations.Locations}}
        <p>{{.}}</p>
        {{end}}
    </div> 
    <h2>Dates of concerts:</h2>
    <div>
        {{range .Dates.Dates}}
        <p>{{.}}</p>
        {{end}}
    </div> 
    <h2>location and date of concerts:</h2>
    <div id="DatesLocationsTable">
        <table>
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Dates</th>
                </tr>
            </thead>
            <tbody>
                {{range $key, $values := .Relations.DatesLocations}}
                <tr>
                    <td rowspan="{{len $values}}">{{$key}}</td>
                    <td>{{index $values 0}}</td>
                </tr>
                {{range $index, $value := slice $values 1}}
                <tr>
                    <td>{{$value}}</td>
                </tr>
                {{end}}
                {{end}}
            </tbody>
        </table>
    </div>
</body>
</html>
