{{template "head"}}
<body>
    {{template "navBar"}}
    <form id="SearchForm">
        <label for="artistsOption">Choose an artist:</label>
        <select id="artistsOption" name="artistName">
            {{range .}}
                <option value="{{.Name}}">{{.Name}} </option>
            {{end}}
        </select>
        <input type="submit" class="details-button" value="See Details">
    </form>

    <div id="artists">
        {{range .}}
        <div class="artist">
            <h2>{{.Name}}</h2>
            <p><img src="{{.Image}}" alt="{{.Name}}"></p>
            <p><strong> <a href="/artist/{{.Name}}" class="info-button">More Information</a></strong></p>
        </div>
        {{end}}
    </div>
    <script>document.addEventListener("DOMContentLoaded", function() {
        const searchForm = document.getElementById("SearchForm");
        const navBarHeight = document.querySelector(".nav-bar").offsetHeight;
    
        window.addEventListener("scroll", () => {
            if (window.scrollY > navBarHeight - 5) {
                searchForm.classList.add("sticky");
            } else {
                searchForm.classList.remove("sticky");
            }
        });
    });
    </script>
</body>
</html>