<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div id="header">
        <h1>Artists</h1>
    </div>

    <!-- Generate forms dynamically for each artist -->
    <form >
        <label for="artists">Choose an artist:</label>
        <select id="artists" name="artistId">
            {{range .}}
                <option value="{{.Id}}">{{.Name}}</option>
            {{end}}
        </select>
        <br><br>
        <input type="submit" value="Go">
    </form>

    <!-- Display all artists -->
    <div id="artists">
        {{range .}}
        <div class="artist">
            <h2><a href="/artist/{{.Id}}" style="text-decoration: none; color: inherit;">{{.Name}}</a></h2>
            <p><strong>ID:</strong> {{.Id}}</p>
            <p><strong>Image:</strong> <img src="{{.Image}}" alt="{{.Name}}" style="max-width:200px;"></p>
            <p><strong>Members:</strong> {{range .Members}}{{.}} {{end}}</p>
            <p><strong>Creation Date:</strong> {{.CreationDate}}</p>
            <p><strong>First Album:</strong> {{.FirstAlbum}}</p>
            <p><strong>Locations:</strong> {{.Locations}}</p>
            <p><strong>Concert Dates:</strong> {{.ConcertDates}}</p>
            <p><strong>Relations:</strong> {{.Relations}}</p>
        </div>
        <hr>
        {{end}}
    </div>
</body>
</html>
