<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="nav-bar">
        <h1><a href="/">Groupie-Tracker</a></h1>
    </div>

    <form id="SearchForm">
        <label for="artistsOption">Choose an artist:</label>
        <select id="artistsOption" name="artistName">
            {{range .}}
                <option value="{{.Name}}">{{.Name}}</option>
            {{end}}
        </select>
        <br><br>
        <input type="submit" class="details-button" value="See Details">
    </form>

    <div id="artists">
        {{range .}}
        <div class="artist">
            <h2>{{.Name}}</h2>
            <p><img src="{{.Image}}" alt="{{.Name}}"></p>
            <p><strong> <a href="/artist/{{.Name}}" class="info-button">More Information</a></strong></p>
        </div>
        {{end}}
    </div>
</body>
</html>