{{template "head"}}
<body>
    {{template "navBar"}}
    <div>
        <p><h1><ul><li>{{.Artist.Name}}</li></ul><h1></p>
            <p> <img src="{{.Artist.Image}}" alt="{{.Artist.Name}}"></p>
            <p><h2>Members:</h2> <ul>{{range .Artist.Members}}<li id="members">{{.}}</li>{{end}}</ul></p>
            <p><h2>Creation Date:</h2> <ul><li id="creationDate">{{.Artist.CreationDate}}</li></ul></p>
            <p><h2>First Album:</h2> <ul><li id="firstAlbum">{{.Artist.FirstAlbum}}</li><ul></p>
        </div>
        <h2>location of concerts:</h2>
        <div>
            <ul>
                {{range .Locations.Locations}}
                <li id="locations">{{.}}</li>
                {{end}}
            </ul>
        </div> 
        <h2>Dates of concerts:</h2>
        <div>
            <ul>
                {{range .Dates.Dates}}
                <li id="dates">{{.}}</li>
                {{end}}
            </ul>
        </div> 
        <h2>location and date of concerts:</h2>
    <div id="DatesLocationsTable">
        <table>
            <thead>
                <tr>
                    <th>Locations</th>
                    <th>Dates</th>
                </tr>
            </thead>
            <tbody>
                {{range $key, $values := .Relations.DatesLocations}}
                <tr>
                    <td id="locationKey">{{$key}}</td>
                    <td id="dateValue">
                        {{range $i, $value := $values}}
                            {{$value}}<br>
                        {{end}}
                    </td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    {{template "goBack"}}
</body>
</html>