{{template "head"}}
<body>
    {{template "navBar"}}
    <div class="hint">
        <p>
            the URL you have choosed is wrong. either use go back botton at the end of page or choose correct URL like http://localhost:8080/artist/Valid_artist_name.  
        </p>
    </div>
    <div id="error">
        <pre>                          
 _  _      ___    _  _    
| || |    / _ \  | || |   
| || |_  | | | | | || |_  
|__   _| | |_| | |__   _| 
   |_|    \___/     |_|   
                          
                          
           
           
    _   _    ____    _______         ______    ____    _    _   _   _   _____   
   | \ | |  / __ \  |__   __|       |  ____|  / __ \  | |  | | | \ | | |  __ \  
   |  \| | | |  | |    | |          | |__    | |  | | | |  | | |  \| | | |  | | 
   | . ` | | |  | |    | |          |  __|   | |  | | | |  | | | . ` | | |  | | 
   | |\  | | |__| |    | |          | |      | |__| | | |__| | | |\  | | |__| | 
   |_| \_|  \____/     |_|          |_|       \____/   \____/  |_| \_| |_____/  
                                                                                
                                                                                
        </pre>
    </div>
    {{template "goBack"}}
</body>
</html>
